#project-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}
.project-card {
  background-color: black;
  height: 20rem;
}
ul {
  list-style: none;
}
button {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0%;
  overflow: hidden;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}
